<%= render partial: "titulo" %>

<h1 align="center"><font color="DarkGoldenrod">Adicionando Restaurante</font></h1>
<% if @restaurante.errors.any? %>
	<ul>
	<% @restaurante.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<!-- Adicionar arquivo no cadastro de restaurante-->

<br>
<br>
<br>

<table align="center">
	<tr align="center">
		<td align="center">
			<font size="5">
<%= form_for :restaurantes, :url => {:action => 'create'}, :html => {:multipart => true} do |f| %>

<%= f.file_field :foto%>
<% end %>

<%= form_for :restaurante, url: {action: 'create'} do |f| %>
	Nome: <%= f.text_field :nome %><br/>
	Endereço: <%= f.text_field :endereco %><br/>
	Especialidade: <%= f.text_field :especialidade %><br/>
	<%= submit_tag 'Criar' %>
<% end %>
</font>
</td>
</tr>
</table>

<br>
<br>
<br>

<table>
	<font size="6">
<%= link_to 'Voltar', {action: 'index' } %>
	</font>
</table>