<%= render partial: "titulo" %>

<h1 align = "center">Exibindo Restaurante</h1>
	<p align = "center">
		<b>Nome: </b>
			<%= @restaurante.nome %>
	</p>

	<p>
		<b align = "center">Endereço: </b>
			<%= @restaurante.endereco %>
	</p>

	<p>
		<b align = "center">Especialidade: </b>
	<%= @restaurante.especialidade %>
	</p>

	<b>Nota Média: </b>
		<%= @restaurante.qualificacoes.average(:nota) %></br>
	<b>Qualificações: </b>
		<%= @restaurante.qualificacoes.count %></br>
	<b>Preço médio: </b>
		<%= @restaurante.qualificacoes.average(:valor_gasto) %></br></br>

	<!--Mostrar imagem-->
	<p>
		<b>Foto:</b>
		<%= image_tag @restaurante.foto.url(:thumb) %>
	</p>


<%= link_to "Qualificar este restaurante", :controller => "qualificacoes", :action => "new", :restaurante => @restaurante %>


<%= link_to 'Editar', action: 'edit', id: @restaurante %>
<%= link_to 'Voltar', action: 'index' %>

<% unless @restaurante.comentarios.empty?%>
<%= comentarios @restaurante %>
<%end%>
